# Multi-dimensional Arrays

In [1]:
import numpy as np

### Create Multi-dimensional Array

In [2]:
mda = np.array([
        [1, 2, 3],
        [4, 5, 6],
        [7, 8, 9]
    ])

#### Number or Elements

In [3]:
mda.size

9

#### Number of Dimensions

In [4]:
mda.ndim

2

#### The Shape

In [5]:
mda.shape

(3, 3)

#### Number of Rows

In [6]:
np.size(mda, 0)

3

#### Number of Columns

In [7]:
np.size(mda, 1)

3

### Retrieve Row

In [8]:
row2 = mda[1]
row2

array([4, 5, 6])

### Retrieve Cell within Row

In [9]:
row3 = mda[2]
row3cell2 = row3[1]
row3cell2

8

#### Retrieve Cell within Row: One Step

In [10]:
row3cell2 = mda[2, 1]
row3cell2

8

### Retrieve All Rows

In [11]:
all_rows = mda[0:len(mda)]
all_rows

array([[1, 2, 3],
       [4, 5, 6],
       [7, 8, 9]])

In [12]:
all_rows = mda[:]
all_rows

array([[1, 2, 3],
       [4, 5, 6],
       [7, 8, 9]])

### Retrieve One Column

In [13]:
col2 = mda[:, 1]
col2

array([2, 5, 8])

### Retrieve Last Two Columns

In [14]:
cols2and3 = mda[:, 1:]
cols2and3

array([[2, 3],
       [5, 6],
       [8, 9]])

In [15]:
cols2and3 = mda[:, -2:]
cols2and3

array([[2, 3],
       [5, 6],
       [8, 9]])

### Add 2 to the last two elements of the last two rows

In [16]:
mda = np.array([
        [1, 2, 3],
        [4, 5, 6],
        [7, 8, 9]
    ])

mda[-2:, -2:] += 2
mda

array([[ 1,  2,  3],
       [ 4,  7,  8],
       [ 7, 10, 11]])

### Add a row vector to all rows

In [17]:
mda = np.array([
        [1, 2, 3],
        [4, 5, 6],
        [7, 8, 9]
    ])

v = [10, 20, 30]
mda + v

array([[11, 22, 33],
       [14, 25, 36],
       [17, 28, 39]])

### Different Ways to Create Arrays

In [18]:
ar1 = np.zeros(shape=(6, 3), dtype=float)
ar1

array([[0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.]])

In [19]:
ar1 = np.array([[1, 2, 3], [4, 5, 6], [7, 8, 9], [10, 11, 12]])
ar2 = np.reshape( ar1, (2, -1) )
ar2

array([[ 1,  2,  3,  4,  5,  6],
       [ 7,  8,  9, 10, 11, 12]])

In [20]:
ar1 = np.array([[1, 2, 3], [4, 5, 6], [7, 8, 9], [10, 11, 12]])
ar3 = ar1.reshape(-1, 2)
ar3

array([[ 1,  2],
       [ 3,  4],
       [ 5,  6],
       [ 7,  8],
       [ 9, 10],
       [11, 12]])

In [21]:
ar4 = np.linspace(4, 6, 5)
ar4

array([4. , 4.5, 5. , 5.5, 6. ])

### An Example

In [22]:
mda = np.linspace(1, 10, 20).reshape(4, 5)
mda

array([[ 1.        ,  1.47368421,  1.94736842,  2.42105263,  2.89473684],
       [ 3.36842105,  3.84210526,  4.31578947,  4.78947368,  5.26315789],
       [ 5.73684211,  6.21052632,  6.68421053,  7.15789474,  7.63157895],
       [ 8.10526316,  8.57894737,  9.05263158,  9.52631579, 10.        ]])

In [23]:
np.size(mda), np.size(mda, 0), np.size(mda, 1), mda.shape

(20, 4, 5, (4, 5))